* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: 'Times New Roman', Times, serif; 

    background-image: url("fondo.jpg");
    background-size: cover; 
    background-attachment: fixed; 
}



.nav-con-imagen-fondo {

    background: linear-gradient(135deg, #2b95ff, rgb(198, 101, 255));
    background-size: cover; 
    background-position: center; 
}

.btn-personalizado a {
    margin-right: 20px; 
}

.btn-personalizado .btn:hover {
     background: linear-gradient(135deg, #2b95ff, rgb(198, 101, 255)); 
    color: #212529; 
    border-color: #8cffa5ff; 
}


.cuadro_abajo {
    background: linear-gradient(135deg, #2b95ff, rgb(198, 101, 255));
   
    bottom: 0;       
    left: 0;         
    width: 100%;       
    padding: 10px 0; 
}

.cuadro-binvenidos{
background: linear-gradient(135deg, hsl(210, 86%, 67%), rgb(153, 6, 238));
padding: 20px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
margin-top: 20px;
}

.fuente{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    color: #ffffff;
}
.texto-bienvenida {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

.cuadro-pag-principal {
    margin-top: 20px;
    padding: 8px 0; 
}

.card-info {
    background: linear-gradient(135deg, hsl(204, 100%, 99%), rgb(83, 255, 53)); 
    
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 100%; 

    width: 100%; 
}

.btn-personalizado a {
    margin-right: 20px; 
}

.btn-personalizado .btn:hover {
     background-color: darkgreen; 
    color: #212529; 
    border-color: #8cffa5ff; 
}

.aprendiz-avatar {
    width: 100px;
    height: 100px;
    background-color: #008000; 
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 10px;
}

.bg-gradient-primary {
    background-color: #008000 !important; 
}